body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

p{
    color:cyan;
}

.img{
    height:300px;
    width:300px;
    text-align: center;
}